/*1*/
.lorem {
    color: red;
}

/*2*/
.html-logo {
    width: 250px;
    height: 250px;
}

/*3*/
#spalvotas {
    float: left;
}

#secondLogo {
    width: 250px;
    height: 250px;
}

/*4*/
.heading {
    display: none;
}

/*5*/
#btnComment {
	color: ghostwhite;
}
label {
	margin-top: 20px;
}